ProductManagementClient/ProductManagementClient/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProductManagementService/ProductService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPrice" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityAtGodown" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityAtShop" type="xs:int" />
      <xs:element minOccurs="0" name="TotalQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Bill">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Quantity" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalItems" type="xs:int" />
      <xs:element minOccurs="0" name="TotalProducts" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bill" nillable="true" type="tns:Bill" />
  <xs:complexType name="ArrayOfProductSales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSales" nillable="true" type="tns:ProductSales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSales" nillable="true" type="tns:ArrayOfProductSales" />
  <xs:complexType name="ProductSales">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantitySold" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSales" nillable="true" type="tns:ProductSales" />
</xs:schema>